body {
  min-height: 100%;
    background-image: url(/static/assets/cork-board.png);
    background-repeat: repeat;
}
.navbar {
  background-color:  #27520d;
}

a.navbar-brand {
  font-family: 'Francois One', sans-serif;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Francois One', sans-serif;
}

p {
  text-align: center;
  margin: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
}

#inventory-body {
    margin-top: 5rem;
  }

#inventory-table {
  background-color: antiquewhite;
  padding: 2rem;
  margin-top: 7rem;
  font-family: 'Open Sans', sans-serif;
}

table.table-bordered{
  border:1px solid black;
  margin-top:20px;
}
table.table-bordered > thead > tr > th{
  border:1px solid black;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
}
table.table-bordered > tbody > tr > td{
  border:1px solid black;
}

tr.expiring-item {
  background-color: pink;
}

td {
  cursor: pointer;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  background-color: #418517;
  border: .05rem solid #fff;
  margin: 5px;
  font-family: 'Roboto', sans-serif;
}