{% extends 'base.html' %}
{% block title %}Item Editor{% endblock %}

{% block body %}
  
  <body class="bg-light">
    <div class="container">
  <div class="py-5 text-center">
    <!--<img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
    <h2>Add Item</h2>
  </div>
    <div class="col-md-8 order-md-1 mx-auto">
      <div class="mb-3">
        <form action="/user/1/inventory/add-item" method="POST">
          <label for="name">Item</label>
          <input type="text" class="form-control" id="item-name" name="name" required>
          <br>
          <label for="quantity">Quantity</label>
          <input type="text" class="form-control" id="item-quantity" name="quantity" required>
          <br>
          <label for="quantity">Expiration Date</label>
          <input type="text" class="form-control" id="item-expiration" name="expiration-date" required>
          <br>
          <div class="row">
          <input class="col-md-3 offset-md-9" type="submit" value="Save">
          </div>
        </form>  
      </div>
  
{% endblock %}