{% extends 'base.html' %}
{% block title %}Item Editor{% endblock %}
{% block styles %}
  <link href="/static/css/add-item.css" rel="stylesheet">
{% endblock %}
{% block body %}
  
  <body class="bg-light">
    <div class="container">
  <div class="py-5 text-center">
    <!--<img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
    <h2>Add Item</h2>
  </div>
    <div class="col-md-8 order-md-1 mx-auto">
      <div class="mb-3">
        <form action="/user/1/inventory/add-item" method="POST">
          <label for="name">Item</label>
          <input type="text" class="form-control" id="item-name" name="name" required>
          <br>
          <label for="quantity">Quantity</label>
          <input type="text" class="form-control" id="item-quantity" name="quantity" required>
          <br>
          <label for="expiration-date">Expiration Date</label>
          <input type="date" class="form-control" id="item-expiration" name="expiration-date" required>
          <br>
            <a href="/" class="btn btn-lg btn-secondary">Cancel</a>
          <input type="submit" class="btn btn-lg btn-secondary float-right save-button" value="Save">
        </form>  
      </div>
  
{% endblock %}