{% extends 'base.html' %}
{% block title %}Expiration Report{% endblock %}
{% block styles %}
  <link href="/static/css/expiration-report.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Francois+One&family=Open+Sans&family=Roboto:wght@500&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}
<nav id="navigation-bar" class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" href="/">Fill Me Inventory</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/user/{{user.user_id}}/inventory">Inventory</a>
      </li>
      <li class="nav-item  active">
        <a class="nav-link" href="/user/{{user.user_id}}/expiration-report">Expiration Report<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/{{user.user_id}}/settings">Settings</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Logged in</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="/logout">Sign out</a>
      </li>
    </ul>
  </div>
</nav>
<div id="report-body">
  <section id="expiration-table" class="col-10 mx-auto d-lg-block d-md-block d-none">
    <h1 class="text-center">Expiring Soon</h1>  
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Expiration Date</th>
            <th>Date Added</th>
        </tr>
      </thead>
      {% for item in expiring_items %}
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.expiration_date }}</td>
        <td>{{ item.date_added.strftime('%d %b %Y') }}</td>
      </tr>
      {% endfor %}
    </div>
{% endblock %}