{% extends 'base.html' %}
{% block title %}Capstone Homepage{% endblock %}
{% block styles %}
  <link href="/static/css/homepage.css" rel="stylesheet">
{% endblock %}
{% block body %}
<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Inventory</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="#">Home</a>
          <a class="nav-link" href="/login">Log In</a>
        </nav>
      </div>
    </header>
<main role="main" class="inner cover">
  <h1 class="cover-heading">Inventory Homepage</h1>
  <p class="lead">Build an inventory that informs you when items are expiring!</p>
  <p class="lead">
    <a href="/register" class="btn btn-lg btn-secondary">Create an account</a>
  </p>  
  <!--<div class="row">
      <div class="col-12">
        <a href="/register" class="btn btn-lg btn-secondary">Create an Account</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a href="/login" class="btn btn-lg btn-secondary">Log In</a>
      </div>
    </div>-->  
</main>

<footer class="mastfoot mt-auto">
  <div class="inner">
    <p>Website by <a href="https://github.com/kayteecannon">Kaytee Cannon</a></p>
  </div>
</footer>
</div>
</body>

{% endblock %}