{% extends 'base.html' %}
{% block title %}Item Editor{% endblock %}

{% block body %}
  
  <h1>Edit Item</h1>
  <form action="/user/1/inventory/{{item.item_id}}/save-item" method="POST">
    <label for="name">Name</label>
    <input id="item-name" type="text" name="name" value={{item.name}} required>
    <br>
    <label for="quantity">Quantity</label>
    <input id="item-quantity" type="text" name="quantity" value={{item.quantity}} required>
    <br>
    <label for="expiration-date">Expiration Date</label>
    <input id="item-expiration" type="text" name="expiration-date" value={{item.expiration_date}}>
    <br>
    <input id="delete-item" type="button" value="Delete" >
    <input type="submit" value="Save">
  </form>

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/static/js/ItemEditorCtrl.js"></script>
{% endblock %}