{% extends 'base.html' %}
{% block title %}Item Editor{% endblock %}

{% block body %}
  
  <h1>Edit Item</h1>
  <form action="/user/1/inventory/save-item" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" value={{item.name}} required>
    <br>
    <label for="quantity">Quantity</label>
    <input type="text" name="quantity" value={{item.quantity}} required>
    <br>
    <label for="expiration-date">Expiration Date</label>
    <input type="text" name="expiration-date" value={{item.expiration_date}}>
    <br>
    <input type="submit" value="Save">
  </form>

{% endblock %}