{% extends 'base.html' %}
{% block title %}Settings{% endblock %}
{% block styles %}
  <link href="/static/css/user-settings.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Francois+One&family=Open+Sans&family=Roboto:wght@500&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}
<nav id="navigation-bar" class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" href="/">Fill Me Inventory</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/user/{{user.user_id}}/inventory">Inventory</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/{{user.user_id}}/expiration-report">Expiration Report</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/user/{{user.user_id}}/settings">Settings<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Logged in</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="/logout">Sign out</a>
      </li>
    </ul>
  </div>
</nav>
<div id="settings-body">
      {% for msg in get_flashed_messages(category_filter='info') %}
      <section class="alert alert-success" role="alert">
        <p>
        {{ msg }}
      </p>
      </section>
      {% endfor %}
      {% for msg in get_flashed_messages(category_filter='error') %}
      <section class="alert alert-danger" role="alert">
        <p>
        {{ msg }}
      </p>
      </section>
      {% endfor %}


      <body class="bg-light">
        <div class="container">
      <div class="py-5 text-center">
        <!--<img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
        <h1>User Settings</h1>
      </div>
        <div class="col-md-8 order-md-1 mx-auto">
          <div>
          <h2 class="mb-3">Expiration Report Email Settings</h4>
          {% if email_frequency != None %}
          <p>Expiration report currently set to send every <strong>{{email_frequency}} days</strong>.  Next report will be sent on <strong>{{ next_run_time }}</strong>.</p>
          {% endif %}
          <br>
          {% if email_frequency == None %}
          <h3 class="mb-3">Schedule expiration report email</h3>
          {% else %}
          <h3 class="mb-3">Change expiration report email settings</h3>
          {% endif %}
          <form action="/schedule-report" method="POST">
              <div class="mb-3">
                <label for="email-frequency">Select email frequency</label>
                <select class="custom-select d-block w-100" name="email-frequency" required>
                  <option value="7">Weekly</option>
                  <option value="14">Every 2 weeks</option>
                  <option value="30">Every 30 days</option>
                  <option value="60">Every 60 days</option>
                </select>
              </div> 
              <div class="mb-3">
                <label for="start-date">Starting on date:</label>
                <input type="date" name="start-date" required>
              </div>
              <br>
              <div class="d-flex justify-content-center">
              <input type="submit" class="btn btn-lg btn-secondary float-right" value="Schedule email">
            </div>
          </form>
          <br>
        </div>
        <br>
          <div>
          <form action="/set-new-password" method="POST">
          <h3 class="mb-3">Change password</h4>
          <div class="mb-3">
          <label for="email">Email</label>
            <input type="email" class="form-control" id="email" value={{user.email}} disabled>
          </div>
          <div class="mb-3">
            <label for="old-password">Current password</label>
            <input type="password" class="form-control" name="old-password" required>
          </div>
          <div class="mb-3">
            <label for="new-password">New password</label>
            <input type="password" class="form-control" name="new-password" required>
          </div>
          <div class="mb-3">
            <label for="confirm-password">Confirm password</label>
            <input type="password" class="form-control" name="confirm-password" required>
          </div>
          <br>
          <div class="d-flex justify-content-center">
          <input type="submit" class="btn btn-lg btn-secondary float-right" value="Change password">
        </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}