{% extends 'base.html' %}
{% block title %}Settings{% endblock %}

{% block body %}
      {% for msg in get_flashed_messages(category_filter='info') %}
      <section class="alert alert-success" role="alert">
        <p>
        {{ msg }}
      </p>
      </section>
      {% endfor %}
      {% for msg in get_flashed_messages(category_filter='error') %}
      <section class="alert alert-danger" role="alert">
        <p>
        {{ msg }}
      </p>
      </section>
      {% endfor %}

  <h1>Settings</h1>
  <form action="/set-new-password" method="POST">
    <label for="email">Email</label>
    <input type="email" name="email" value={{user.email}} disabled>
    <br>
    <p>Change password</p>
    <label for="old-password">Current password</label>
    <input type="password" name="old-password" required>
    <br>
    <label for="new-password">New password</label>
    <input type="password" name="new-password" required>
    <br>
    <label for="confirm-password">Confirm new password</label>
    <input type="password" name="confirm-password" required>
    <br>
    <input type="submit">
  </form>
<br>
  <form action="/schedule-report" method="POST">
    <label for="email-frequency">Select email frequency</label>
        <br>    
      <select name="email-frequency" id="email-frequency">
        <option value="30">Every 30 days</option>
        <option value="60">Every 60 days</option>
        <option value="120">Every 120 days</option>
      </select>
      <label for="start-date">Starting on date:</label>
        <input type="date" name="start-date">
      <input type="submit">
  </form>

{% endblock %}