{% extends 'base.html' %}
{% block title %}User Inventory{% endblock %}
{% block styles %}
  <link href="/static/css/user-inventory.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Francois+One&family=Open+Sans&family=Roboto:wght@500&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}
<nav id="navigation-bar" class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" href="/">Fill Me Inventory</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/user/{{user.user_id}}/inventory">Inventory<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/{{user.user_id}}/expiration-report">Expiration Report</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user/{{user.user_id}}/settings">Settings</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Logged in</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="/logout">Sign out</a>
      </li>
    </ul>
  </div>
</nav>
<div id="inventory-body">
  {% for msg in get_flashed_messages(category_filter='info') %}
      <section class="alert alert-success" role="alert">
        <p>
        {{ msg }}
      </p>
      </section>
      {% endfor %}
      {% for msg in get_flashed_messages(category_filter='error') %}
      <section class="alert alert-danger" role="alert">
        <p>
        {{ msg }}
      </p>
      </section>
      {% endfor %}
  
  <section id="inventory-table" class="col-10 mx-auto d-lg-block d-md-block d-none">
        
      <div class="d-flex justify-content-center"><h1 class="text-center">All Items</h1></div>
      <a href="/user/{{user.user_id}}/inventory/add-item" class="btn btn-lg btn-secondary float-right">+</a>  
      
    {% if items|length == 0 %}
    <p>Click + to add an item to your inventory</p>
    {% else %}     

    <table class="table table-hover table-bordered">
      <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Expiration Date</th>
            <th>Date Added</th>
        </tr>
      </thead>
      {% for item in items %}
      {% if item.expiration_date > expiry_delta_30 %}
      <tr id="item-{{item.item_id}}-row">
        <td>{{ item.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.expiration_date.strftime('%d %b %Y') }}</td>
        <td>{{ item.date_added.strftime('%d %b %Y') }}</td>
      </tr>
      {% else %}
      <tr id="item-{{item.item_id}}-row" class="expiring-item">
        <td>{{ item.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.expiration_date.strftime('%d %b %Y') }}</td>
        <td>{{ item.date_added.strftime('%d %b %Y') }}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
    {% endif %}
  </section>

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/static/js/ItemController.js"></script>
{% endblock %}

